:root {
	--text-color: black;
	--primary-color: #e1e0de;
	--secondary-color: #701312;
	--accent-color: #c0734d;
}

h2 {
	color: var(--primary-color);
}
body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
}

.header {
	height: 20px;
	padding: 20px;
	z-index: 3;
	/*background-color: #33181e;*/
	background-color: rgba(0,0,0,.2);
	margin-bottom: -10px;
	width: calc(100% - 40px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
}

.sticky-header {
	z-index: 3;
	height: 20px;
	padding: 20px;
	background-color: rgba(0,0,0,0.85);
	width: calc(100% - 42px);
	position: fixed;
	top: 0;
	transition: all .4s linear;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.landing {
	color: red;
	display: flex;
	height: calc(100vh - 100px);
	width: 100%;
}

.slide-container {
	width: 100%;
}

.slide-img {
	height: 100%;
  width: 100%;
  max-width: 970px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .slide-img,
  .landing {
    height: 410px;
  }
}

.react-slideshow-container .nav:first-of-type {
  position: absolute;
  left: 15px;
}

.react-slideshow-container .nav:last-of-type {
	margin-left: -45px;
}

.landing-img {
	height: calc(100vh + 200px);
	/*height: calc(100vh - 100px);*/
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo-wrapper {
	border: 3px solid #36161e;
	padding: 45px;
	margin: 15px;
	background: rgba(0, 0, 0, .5);
}

.logo {
	max-width: 100%;
}

.header-item {
	padding: 15px;
	color: white;
	transition: all .4s linear;
}

.header-item:hover,
.header-item.is-current {
	color: var(--accent-color);
}

#gigs {
	padding: 15px;
	padding-top: 50px;
	margin-bottom: -100px;
	background: var(--primary-color);
	/*background: #000307;*/
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gig {
	width: 100%;
	max-width: 705px;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.gig .fa-calendar {
	font-size: 80px;
}

.gig .where {
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	transition: all .4s linear;
	color: var(--text-color);
}

.gig .where:hover {
	color: var(--accent-color);
}

.date {
	color: var(--primary-color);
	position: absolute;
	top: 30px;
	left: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.date .number {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: -7px;
}


#about {
	/*background-image: linear-gradient(var(--primary-color), yellow);*/
	padding: 15px;
	padding-top: 100px;
	background: var(--primary-color);
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.member {
	max-width: 500px;
	width: 100%;
	/*height: 300px;*/
	position: relative;
	margin: 7.5px;
}

.member .picture img {
	height: 150px;
	position: absolute;
	top: 15px;
	border: 2px solid var(--accent-color);
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.member .picture {
	position: relative;
}

.instruments {
	position: absolute;
	background: #408eb0;
	height: 35px;
	width: 20px;
	z-index: 2;
	top: 17px;
	left: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: flex;
	align-items: center;
	display: none;
}

.member .bio-wrapper {
	background: var(--secondary-color);
	height: 180px;
	margin-left: 15px;
	border: 3px solid #37161e;
}

.bio {
	margin-left: 150px;
	margin-top: 30px;
}

.name {
	font-size: 20px;
}

.description {
}

.social-links {
	position: absolute;
	display: none;
	bottom: 10px;
	right: 10px;
}

.social-links i {
	cursor: pointer;
	transition: all .4s linear;
}

.social-links i:hover {
	color: #33181e;
}

#video-wrapper {
	padding-top: 100px;
	margin-bottom: -50px;
	background: var(--primary-color);
	display: flex;
	justify-content: center;
}

.video {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 970px;
	max-height: 550px;
}

#book {
	background: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	padding: 15px;
	margin: 15px;
	max-width: 705px;
	width: 100%;
	border: 2px solid var(--primary-color);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
}

.input-wrapper input,
.input-wrapper textarea {
	background-color: var(--primary-color);
	color: white;
	border: 1px solid var(--primary-color);
	padding: 10px;
	margin-bottom: 15px;
}

.input-wrapper input {
	height: 30px;
	/*width: 300px;*/
}

.input-wrapper textarea {
	height: 100px;
	min-height: 60px;
	resize: vertical;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
  outline: none !important;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
}

.form button {
	height: 30px;
	background-color: #33181e;
	color: white;
	border: 1px solid #33181e;
	cursor: pointer;
	transition: all .2s linear;
}

.form button:hover {
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}
