body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
}

.header {
	height: 20px;
	padding: 20px;
	/*background-color: #33181e;*/
	background-color: rgba(0,0,0,.2);
	margin-bottom: -10px;
	width: calc(100% - 40px);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
}

.sticky-header {
	z-index: 2;
	height: 20px;
	padding: 20px;
	background-color: #33181e;
	width: calc(100% - 42px);
	position: fixed;
	top: 0;
	transition: all .4s linear;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.landing {
	color: red;
	display: flex;
}

.landing-img {
	height: calc(100vh - 100px);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo-wrapper {
	border: 3px solid #36161e;
	padding: 45px;
	margin: 15px;
	background: rgba(0, 0, 0, .5);
}

.logo {
	max-width: 100%;
}

.header-items {
	display: flex;
	cursor: pointer;
}

.header-item {
	padding: 15px;
	color: white;
	transition: all .4s linear;
}

.header-item:hover {
	color: #c9b483;
}

.gigs {
	padding: 15px;
	background: black;
	/*background: #000307;*/
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gig {
	width: 100%;
	max-width: 705px;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.gig .fa-calendar {
	font-size: 80px;
}

.gig .where {
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	transition: all .4s linear;
	color: white;
}

.gig .where:hover {
	color: #c9b483;
}

.date {
	color: black;
	position: absolute;
	top: 30px;
	left: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.date .number {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: -7px;
}


.about {
	/*background-image: linear-gradient(black, yellow);*/
	padding: 15px;
	background: black;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.member {
	max-width: 500px;
	width: 100%;
	/*height: 300px;*/
	position: relative;
	margin: 7.5px;
}

.member .picture img {
	height: 150px;
	position: absolute;
	top: 15px;
	border: 2px solid white;
	border-radius: 15px;
}

.member .bio-wrapper {
	background: #c9b483;
	height: 180px;
	margin-left: 15px;
	border: 3px solid #37161e;
}

.bio {
	margin-left: 150px;
	margin-top: 30px;
}

.name {
	font-size: 20px;
}

.description {
}

.social-links {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
